*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.HeaderSection{
  display: flex;
  color: white;
  background-color: black;
  justify-content: space-between;
 padding: 10px;
  

}
.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 5px 10px;
  
}
.left{
  flex: 2;
}
.text{
  flex: 2;

}
.center{
  flex: 4
}
.right{
  flex: 2;
  display: flex;
  
  justify-content: space-between;

}
.text input{
  border-radius: 5px;
  padding: 10px;
  width: 20rem;
  margin-left: -150px;
}
.BannerBox img{
  width: 100%;
  height: 200px;

}
.mensCollections{
  display: inline-flex;
  gap: 10px;
 
}
.mensCollections img{
 
   width: 302px;
  height: 240px;    
  
}
.footercollection img{
  height: 200px;
  width: 100%;
}